<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Iesi.Collections" publicKeyToken="AA95F207798DFDB4" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.0.1.0" newVersion="1.0.0.3"/>
			</dependentAssembly>			
		</assemblyBinding>
	</runtime>
</configuration>
